@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
.gallery {
    margin: 00px 50px;
	display: grid;
	grid-gap: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	align-items: center;
	grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
	
	
}
.gallery img{
    transition: 1s;
    flex-basis: 80%;
	justify-content: center;
	flex-direction: column;
	padding: 4px;
	border-radius: 10px;
	margin: 10px 5%;
	background-color: rgb(15, 94, 38);
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
h1{
	text-align: center;
	font-size: 3rem;
	color: rgb(5, 5, 5);
	font-family: "Overpass";

}
body {
    background-color: rgb(68, 117, 216);
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}

   
    
	
	
	
   
    
  
 
 
    
	
	
	
	
